.git
.github
.env
.venv
.mypy_cache
.pytest_cache
.ruff_cache
**/__pycache__
**/*.py[cod]
**/*.egg-info
**/.DS_Store
**/.next
**/node_modules
benchmark/reports
data
htmlcov
node_modules
playwright-report
test-results
tmp
*.sdr.json
